<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"><link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Marck+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
<body>
    <div class="container-show">
        <nav class="navbar navbar-light" style="background-color: #f0f7da;">
            <a class="navbar-brand mb-0 h1" href="/home">Par<i class="fas fa-golf-ball"></i>ees</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <form action="/user/logout" method="POST">
                        <button class="nav-logout" type="submit">Logout</button>
                    </form>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </nav>
            <div class="header">
                <h1 class="swing-in-top-fwd">Hi <%=user.firstName%></h1>
                <h2>Welcome To Your Profile</h2>
                <h2><%=user.city%></h2>
                <h3>About Me</h3>
                <p><%=user.biography%></p>
          
            <div class="edit-btn">
                <a href="/user/<%=user._id%>/edit">Edit</a>
            </div>  
        </div>            
            <main>
                <section class="left-side">
                    <h2><ul><li>Registered Tournaments</li></ul></h2>
                        <ul>
                            <% for (let i = 0; i < user.signedUp.length; i++) {%>
                                <li><a href="/tour/<%=user.signedUp[i]._id%>"><%=user.signedUp[i].eventName%></a></li>
                            <% } %>
                        </ul>
                </section>
                <section class="right-side">
                    <h2><ul><li>Hosted Tournaments</li></ul></h2>
                        <ul>
                            <% for (let i = 0; i < user.Hosted.length; i++) {%>
                                <li><a href="/tour/<%=user.Hosted[i]._id%>"><%=user.Hosted[i].eventName%></a></li>
                            <% } %>
                        </ul>
                </section>
            </main>
    </div>
</body>
</html>