<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title></title>
  </head>
  <body>
    <header>
      <h1>Tournaments</h1>

    </header>
    <main>
      <h2>List of Tournaments</h2>
      <ul>
        <% for(let i = 0; i < tournaments.length; i++){ %>
          <li>
            <a href="/tour/<%=tournaments[i]._id%>"><%=tournaments[i].eventName%></a>
          </li>
            <li>
            <%=tournaments[i].location%>
          </li>
            <li>
            <%=tournaments[i].DateOfEvent%>
          </li>
            <li>
            <%=tournaments[i].fieldSize%>
          </li>
          <br/>
        <% } %>
      </ul>
    </main>
  </body>
</html>