<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="title"><%=tournament.eventName%> </h1>
            <div class="home-btn">
                <button type="button" class="btn btn-primary btn-lg"> <a href="/home" style="color: white">Home</a></button>
            </div>
        </header>
        <main>
            <section class="left-side">
                <h3>Details</h3>
                <ul>
                    <li>
                        Location: <%=tournament.location%>
                    </li>
                    <li>
                        Date: <%=tournament.DateOfEvent.getMonth()%>/<%=tournament.DateOfEvent.getDate()%>
                    </li>
                    <li>
                        Field Size: <%=tournament.fieldSize%>
                    </li>
                    <li>
                         Category: <a href="/tour/cat/<%=tournament.category%>"><%=tournament.category%></a>
                    </li>
                </ul>
            </section>
            <aside>
            <img class="image" src="https://www.atlantisbahamas.com/media/Things%20To%20Do/Activities/Golf/Hero/Golf%20course%20HERO_updated.jpg">
            </aside>
            <section class="right-side">
                <h3>Description</h3>
                <ul>
                    <li>Host: <a href="/user/<%=tournament.host[0]._id%>"><%=name%> <%=last%></a></li>
                    <li><%=tournament.description%></li>
                </ul>
            </section>
        </main>
        <footer>   
        </footer>
    </div>
</body>
</html>