<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">        
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<nav class="navbar navbar-light" style="background-color: #f0f7da;">
  <a class="navbar-brand mb-0 h1" href="/home">Par<i class="fas fa-golf-ball"></i>ees</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
<body>
    <div class="container">
        <header>
            <h1 class="title"><%=tournament.eventName%> </h1>

            <div class="home-btn">
                <button type="button" class="btn btn-primary btn-lg"> <a href="/home" style="color: white">Home</a></button>
            </div>
        </header>
        <main>
            <section class="left-side">
                <h3>Details</h3>
                <ul>
                    <li>
                        Location : <%=tournament.golfCourse%>
                    </li>
                    <li>
                        Date: <%=tournament.eventDate.toDateString()%>
                    </li>
                    <li>
                        Estimated tee-time: <%=tournament.eventDate.getUTCHours()%>:<%=tournament.eventDate.getMinutes()%>
                    </li>
                    <li>
                        Max Field Size: <%=tournament.groupSize%>
                    </li>
                    <li>
                        Current Players: <%=tournament.players.length%>
                    </li>
                    <li>
                         Category: <a href="/tour/cat/<%=tournament.category%>"><%=tournament.category%></a>
                    </li>
                </ul>
            </section>
            <%if(tournament.golfCourse == 'The Links at Terranea'){%>
            <aside>
            <img class="image" src="https://img.grouponcdn.com/deal/cH2Z5WaUXj33KD5UFUtP/Pw-700x420/v1/c700x420.jpg">
            </aside>
            <%}%>
            <%if(tournament.golfCourse == 'Eighteen Hole at Van Nuys Golf Course'){%>
            <aside>
            <img class="image" src="https://golfadvisor.brightspotcdn.com/dims4/default/5379b42/2147483647/strip/true/crop/640x360+0+10/resize/590x332!/format/jpg/quality/90/?url=https%3A%2F%2Fgolfadvisor.brightspotcdn.com%2F31%2F67%2F83064bc75c68efe3633b2ebeaeee%2F91373.jpg">
            </aside>
            <%}%>
            <%if(tournament.golfCourse == 'Black Gold Golf Club'){%>
            <aside>
            <img class="image" src="https://blackgoldgolf.com/golf/proto/blackgoldgolf/images/course_photo.jpg">
            </aside>
            <%}%>
            <%if(tournament.golfCourse == 'Recreation Park South'){%>
            <aside>
            <img class="image" src="https://golfadvisor.brightspotcdn.com/dims4/default/d770341/2147483647/strip/true/crop/1440x929+0+14/resize/930x600!/quality/90/?url=https%3A%2F%2Fgolfadvisor.brightspotcdn.com%2Fcc%2Fe9%2F116b4e11990891387e6253c68158%2F91659.jpg">
            </aside>
            <%}%>
            <%if(tournament.golfCourse == 'Trump National Golf Club'){%>
            <aside>
            <img class="image" src="https://www.top100golfcourses.com/img/courses/trump-national-los-angeles_f5506b53-422c-472a-9449-da3ac0d034f3.jpg">
            </aside>
            <%}%>
            <%if(tournament.golfCourse == 'Monterey Park Golf Course'){%>
            <aside>
            <img class="image" src="https://cdn-img.teeoff.com/course/6104/6104-000220.jpg">
            </aside>
            <%}%>
            <%if(tournament.golfCourse == 'Industry Hills Golf Club at Pacific Palms Resort - Eisenhower Course'){%>
            <aside>
            <img class="image" src="https://www.ihgolfclub.com/images/uploads/homepage/ike-hole2-top.jpg">
            </aside>
            <%}%>
            <%if(tournament.golfCourse == 'Alhambra Municipal Golf Course'){%>
            <aside>
            <img class="image" src="https://www.scga.org/images/uploads/facilities/859/alhambra_golf_course__large.jpg">
            </aside>
            <%}%>
            <%if(tournament.golfCourse == 'Westdrift Manhattan Beach Golf Club'){%>
            <aside>
            <img class="image" src="https://photos.wikimapia.org/p/00/03/52/70/29_big.jpg">
            </aside>
            <%}%>
            <%if(tournament.golfCourse == 'Coyote Hills Golf Course'){%>
            <aside>
            <img class="image" src="https://www.coyotehillsgc.com/sites/default/files/coyotehills_01-movedflag-v2.jpg">
            </aside>
            <%}%>
            <section class="right-side">
                <h3>Description</h3>
                <ul>
                    <li>Host:<%=name%> <%=last%></a></li>
                    <li><%=tournament.description%></li>
                </ul>
            </section>
        </main>
        <footer> 
        <% if(tournament.groupSize > tournament.players.length){ %>
            <form action="/tour/<%=tournament._id%>?_method=PUT" method="post">
            <input class="btn btn-success" type="submit" value="Sign Up"/>
            </form> 
            <br/> 
            <% } else { %>
            <form>
                <input class="btn btn-danger" type="submit" value="Full"/>
            </form> 
            <br/>
<%let m=0
for (j=0;j<tournament.players.length;j++){
    if(tournament.players[j]== userProfile){
        %>             <form action="/tour/<%=tournament._id%>?_method=DELETE" method="post">
              <input class="btn btn-danger" type="submit" value="Unregister"/>
            </form><%
        m=1
    }
} if (m==0 && tournament.groupSize > tournament.players.length){
    %> <form action="/tour/<%=tournament._id%>?_method=PUT" method="post">
                <input class="btn btn-success" type="submit" value="Sign Up"/>
            </form>            <%
} else if (m==0){
    %>            <form>
                <input class="btn btn-danger" type="submit" value="Full"/>
            </form><%
}%> 
            <br/> 
            </div>    
            <% } %>
        <br/> 
        <%if(tournament.host==userId){%>
        <form >
                <input class="btn btn-success" href="/tour/<%=tournament._id%>/edit"type="submit" value="Edit"/>
            </form>  <%}%>
                                <%if(tournament.host._id==userId){%>            <div class="home-btn">
                <button type="button" class="btn btn-primary btn-lg"> <a href="/tour/<%=tournament._id%>/edit" style="color: white">Edit</a></button>
            </div>
<br/><%}%>
        </footer>
    </div>
<script> 
  $(".navbar-toggler").click(()=>{
    $(this).removeClass("collapsed");
    $(this).attr("aria-expanded", "true");
    $(".navbar-collapse").toggleClass("show");
  });
</script>
</body>
</html>