<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title></title>
  </head>
  <body>
    <header>
      <h1><%=tournament.eventName%></h1>
      <h2><%=tournament.location%></h2>
      <h2><%=tournament.DateOfEvent%></h2>
      <h2><%=tournament.fieldSize%></h2>
      <nav>

        <ul>
        <li>
            <form action="/tour/<%=tournament._id%>?_method=PUT" method="post">
            <input type="submit" value="Sign Up"/>
            </form>
          </li>
          <li>
            <a href="/tour">Tournaments</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
          <a href="/tour/<%=tournament._id%>/edit">Edit</a>
      </section>
    </main>
  </body>
</html>